In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
cell_phones_total_df = pd.read_csv(r"cell_phones_total.csv", encoding = "latin1") 
population_df = pd.read_csv(r"D:\SYNCNER TRAINING\BOOTCAMP\Day 7\Task 2\cell_phones_total.csv", encoding = "latin1")  # Replace with actual file path
print(cell_phones_total_df.head())

       country  1960  1961  1962  1963  1964  1965  1966  1967  1968  ...  \
0        Aruba   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
1  Afghanistan   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
2       Angola   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
3      Albania   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
4      Andorra   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...

    2014   2015   2016   2017   2018   2019   2020   2021   2022   2023
0   140k   141k    NaN    NaN    NaN   141k   141k   141k    NaN    NaN
1  18.4M  19.7M  21.6M  23.9M    22M  22.6M  22.7M  22.7M  22.8M    23M
2  14.1M  13.9M    13M  13.3M  13.3M  14.8M  14.6M  15.3M  23.7M  25.7M
3  3.36M   3.4M  3.37M  3.63M  2.71M  2.63M  2.62M  2.64M  2.78M  2.61M
4  66.2k  71.3k  76.1k  80.3k  82.6k  87.9k  80.4k  93.8k   114k   126k

[5 rows x 65 columns]

In [6]:
MYSQL_USER = "root"  
MYSQL_PASSWORD = "umarsha2509"  
MYSQL_HOST = "host" 
MYSQL_DATABASE = "gapminder_db"
engine = create_engine(f"mysql+mysqlconnector://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}/{MYSQL_DATABASE}")

print("✅ Connected to MySQL Successfully!")

✅ Connected to MySQL Successfully!

In [7]:
import pandas as pd
data = {
    "year": [1990, 1990, 1995, 1995, 2000, 2000],
    "cell_phones": [50000, 70000, 100000, 120000, 700000, 800000]
}
df = pd.DataFrame(data)
summary = df.groupby("year")["cell_phones"].agg(["max", "mean", "sum"]).reset_index()
summary.rename(columns={"max": "MAX_Cell_Phones", "mean": "AVG_Cell_Phones", "sum": "SUM_Cell_Phones"}, inplace=True)
print(summary)

   year  MAX_Cell_Phones  AVG_Cell_Phones  SUM_Cell_Phones
0  1990            70000          60000.0           120000
1  1995           120000         110000.0           220000
2  2000           800000         750000.0          1500000